body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/******************************** React style ***************************************************/

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.search-container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.btn-search {
}

.input-search {
    width: 50%;
}

.card {
    max-width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card-image {
    width: 298px;
    height: 180px;
}

.card-body button {
    font-size: 16px;
}

.card-title {
    margin-bottom: 30px;
    text-decoration: underline;
}

.search-container span {
    margin: 5px 10px;
}
